@tailwind base;
@tailwind components;
@tailwind utilities;

/* Elegant, natural theme for Glowing Flowers */
body {
  background-color: #faf9f6; /* brandCream */
  color: #4a403a; /* brandEarth */
  /* Using a classic serif font for a sophisticated touch */
  font-family: "Georgia", Cambria, "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: "Venganza Variable", sans-serif;
}
